In [ ]:
## 연관 분석

In [15]:
import mlxtend
import numpy as np
import pandas as pd

In [2]:
data = np.array([
    ['우유','기저귀','쥬스'],
    ['양상추','기저귀','맥주'],
    ['우유','양상추','기저귀','맥주'],
    ['양상추','맥주']
])

/var/folders/1m/c6k1f_pd4vx1v_sj8708f_jw0000gn/T/ipykernel_84867/4245695966.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  data = np.array([

In [6]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns = te.columns_)

print(te_ary)
df

[[ True False False  True  True]
 [ True  True  True False False]
 [ True  True  True  True False]
 [False  True  True False False]]

     기저귀     맥주    양상추     우유     쥬스
0   True  False  False   True   True
1   True   True   True  False  False
2   True   True   True   True  False
3  False   True   True  False  False

In [8]:
## Apriori
# 지지도 0.5를 기준으로 판단

#%%time
from mlxtend.frequent_patterns import apriori

apriori(df, min_support=0.5, use_colnames=True)

   support        itemsets
0     0.75           (기저귀)
1     0.75            (맥주)
2     0.75           (양상추)
3     0.50            (우유)
4     0.50       (기저귀, 맥주)
5     0.50      (양상추, 기저귀)
6     0.50       (기저귀, 우유)
7     0.75       (양상추, 맥주)
8     0.50  (양상추, 기저귀, 맥주)

In [11]:
## fpgrowth
# FP-growth 가 Apriori보다 속도 빠름

#%%time
from mlxtend.frequent_patterns import fpgrowth

fpgrowth(df, min_support=0.5, use_colnames=True)

   support        itemsets
0     0.75           (기저귀)
1     0.50            (우유)
2     0.75           (양상추)
3     0.75            (맥주)
4     0.50       (기저귀, 맥주)
5     0.50      (양상추, 기저귀)
6     0.50  (양상추, 기저귀, 맥주)
7     0.50       (기저귀, 우유)
8     0.75       (양상추, 맥주)

In [19]:
## 신뢰도나 향상도 확인
association = fpgrowth(df, min_support=0.25, use_colnames=True)
association_rules(association, metric="confidence", min_threshold=0.5, support_only=False)

NameError: name 'association_rules' is not defined